body {
    background: #cccccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #444444;
    width: 960px;
    font-size: 18px;    
}
header{
	background: #6f6188;
} 
nav{
	background: #c6a61a;

} 
section{
	background: #f06442;
} 
aside{
	background:#c8c041;
} 
footer{
	background: #dddddd;
}
a {
    color: #444444;
    background: #96f3cf;
}
h1{
	color:#9B7135
}

h3, p {
    color: #444444;
}
section {
	width: 495px;	
}
aside {
	float:right;
	width: 445px;
}
